name: Build Calculator APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install Dependencies
        run: |
          cd form_app
          flutter pub get
          
      - name: Build APK
        run: |
          cd form_app
          flutter build apk --release --no-tree-shake-icons
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Calculator-App
          path: form_app/build/app/outputs/flutter-apk/app-release.apk
